#conteudo{
    margin-top: 180px;
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    text-align: center;
    background-color: #ffffff;
}

#titulo{
    width: inherit;
    height: 80px;
    background-color: #3432da;
    color: black;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#form{
    width: inherit;
    height: 185px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

input{
    margin-bottom: 10px;
    margin-left: 10px;
    
}
#caixapar{
   padding-top: 10px;
   margin-top:40px;
   margin-left: 60px;
   width: 150px;
   height: 210px;
   overflow-y: auto;
   box-shadow: -1px -1px 1px 2px black; 
}
#caixaimpar{
    margin-left: 270px;
    width: 150px;
    height: 210px;
    overflow-y: auto;
    box-shadow: -1px -1px 1px 2px black;
    margin-top: 40px; 
    padding-top: 10px;
 }

#container_opcoes{
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    float: left;
    text-align: left;
}
#botaocalcular{
    margin-left: 230px;
    margin-top: 10px;
}
.textpar{
    color: #000000;
    margin-right: 400px;
}
.textimpar{
    margin-top: -370px;

}
.textimpar2{
    margin-left: 150px;
}
#numeroinicial{
    padding-right: 100px;
}
#numerofinal{
    padding-right: 100px;
}
.msgErro{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: center;
} 